<style>
    .ca-footer div {
        text-align: center;
    }
</style>

<footer class="ca-footer">
    <div class="ca-footer-links">
        <a href="https://github.com/Cookiaria"><i class="nf nf-dev-github" title="Github"></i></a>
        <a href="https://bsky.app/profile/cookiaria.lol"><i class="nf nf-fae-butterfly" title="Bluesky"></i></a>
        <a href="https://youtube.com/channel/UCBYK2gv6MrIF1I7SgQZBAxQ"><i class="nf nf-fa-youtube" title="Youtube"></i></a>
        <div class="ca-separator"></div>
        <a href="https://toyhou.se/Cookiaria"><i class="nf nf-fa-house_chimney" title="toyhou.se"></i></a>
        <a href="https://steamcommunity.com/id/cookiaria/"><i class="nf nf-fa-steam" title="Steam"></i></a>
    </div>
</footer>