<div class="ca-header-container">
    <div class="ca-header-tabs">
        <a href="/" class="ca-tablinks" data-page="home"><i class="nerd-font nf-fa-home"></i> home</a>
        <a href="/projects" class="ca-tablinks" data-page="projects"><i class="nerd-font nf-fa-sticky_note"></i> projects</a>
        <a href="/about" class="ca-tablinks" data-page="about"><i class="nerd-font nf-oct-person_fill"></i> about</a>
        <a href="/gallery" class="ca-tablinks" data-page="gallery"><i class="nerd-font nf-fa-photo"></i> gallery</a>
    </div>

    <header class="ca-header">
        <div class="ca-header-logo">
            <img src="/assets/images/cate.png" onclick="randomHeader()" align="left" draggable="false">
        </div>

        <div class="ca-logo-text">
            <h2>cookiaria{% if page.title %} - {{ page.title }}{% else %} website{% endif %}</h2>
            <div class="ca-header-text">
                <p id="headerrandom"></p>
            </div>
        </div>
    </header>


</div>