<style>
    .ca-logo-text > h2 {
        font-family: var(--default-font);
        border: none;
    }
</style>

<div class="ca-header-container">
    <div class="ca-header-tabs">
        <a href="/" class="ca-tablinks ca-headertabthings" data-page="home"><i class="nerd-font nf-fa-home"></i> home</a>
        <!-- a href="/posts" class="ca-tablinks ca-headertabthings" data-page="posts"><i class="nerd-font nf-fa-newspaper"></i> posts</a -->
        <a href="/tools" class="ca-tablinks ca-headertabthings" data-page="tools"><i class="nerd-font nf-fa-wrench"></i> tools</a>
        <!-- a href="/about" class="ca-tablinks ca-headertabthings" data-page="about"><i class="nerd-font nf-oct-person_fill"></i> about</a -->
        <a href="/gallery" class="ca-tablinks ca-headertabthings" data-page="gallery"><i class="nerd-font nf-fa-photo"></i> gallery</a>
    </div>

    <header class="ca-header">
        <div class="ca-header-logo">
            <img src="/assets/images/cate.png" onclick="randomHeader()" align="left" draggable="false">
        </div>

        <div class="ca-logo-text">
            <h2>cookiaria{% if page.title %} - {{ page.title }}{% else %} website{% endif %}</h2>
            <div class="ca-header-text">
                <p id="headerrandom"></p>
            </div>
        </div>

        <div id="loadingbar">
            
        </div>

        <div id="themebutton">
            <i class="nerd-font nf-oct-sun" id="themeicon"></i>
        </div>
    </header>

    <div class="ca-bottom-header-tabs"> 
    </div>
</div>