$defaultFont: "Fredoka", serif;
$jpFont: "M PLUS Rounded 1c", sans-serif;

$accentColor: #f86;

$headerColor: #202025;
$bodyColor: #16161a;
$backgroundColor: #0F0F12;

$generalRoundness: 6px;
$imageRoundness: 16px;

$rainbowColors: linear-gradient(
        90deg,
            #fe7e6f 0%,
            #fec46f 7.14%,
            #fffa6f 14.29%,
            #ddff6f 21.43%,
            #91ff6f 28.57%,
            #6eff73 35.71%,
            #6fffef 42.86%,
            #6fffef 50%,
            #6ea9fe 57.14%,
            #6ea9fe 64.29%,
            #6ea9fe 71.43%,
            #dc6eff 78.57%,
            #ff6efa 85.71%,
            #fe6fc3 92.86%,
            #fe7e6f 100%
    ) // last color must be the same one as the first