body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1C1F;
    color: white;
    height: 100%
}

/*
div {
    border: 1px solid gold
} */

.container-of-cropper {
    height: 50vh;
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.preview-container > [class*="previews-"] {
    display: flex;
    gap: 64px;
    width: fit-content;
    margin: 0 auto;
}

.general-preview-cont {
    position: fixed;
    padding: 8px;
    top: 0;
    right: 0;
}

#saveButton {
    max-width: fit-content;
    margin: 12px auto;
    height: 32px;
}

.input-container {
    max-width: fit-content;
    margin: 8px auto;
}

.general-preview {
    width: 192px;
    height: 192px;
    border-radius: 16px;
    overflow: hidden;
}

#brainrotSelector {
    max-width: fit-content;
    margin: 0 auto;
}

#platformName {
    display: none;
}

.ultimate-previewer {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

#previews{
    display: flex;
    gap: 32px;
    max-width: fit-content;
    margin: 0 auto;
}

#cropperimage {
    display: none; 
}

