.gallery {
    margin: 0 auto;
}

.gallery-item {
    width: 175px;
    margin-bottom: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: transform 0.1s ease;
}

.gallery-item img:hover {
    transform: scale(1.025);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21, 21, 21, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.overlay img {
    max-width: 90%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	color: white;
	font-size: 41px;
	cursor: pointer;
	z-index: 1001;
	background-color: #ff4141;
	padding: 0 12px;
	height: 42px;
	border-radius: 8px;
    line-height: 33px;
    transition-duration: 0.25s;
    user-select: none;
}

.close-btn:hover {
    background-color: #ff7a7a;
}

.overlay-content {
    text-align: center;
    color: white;
}

.overlay-content img {
    border-radius: 16px;
}

.overlay-title {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #00000087;
    padding: 8px 16px;
    border-radius: 7px;
    width: fit-content;
    font-weight: 500;
    font-size: clamp(16px, 5vw, 28px)
}

.overlay-artist {
    position: absolute;
    top: 64px;
    left: 8px;
    color: #ccc;
    width: fit-content;
    background-color: #00000087;
    padding: 2px 16px;
    border-radius: 8px;
    color: white;
    font-size: clamp(12px, 5vw, 18px) /* 18px; */
}

.overlay-description {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00000087;
    padding: 8px 16px;
    border-radius: 7px;
    width: 80%;
    max-width: 720px;
    font-size: clamp(12px, 5vw, 18px) /* 18px; */
}


.artist-name {
    font-weight: 500;
    color: #ffc0ae;
}

.nav-btn {
    position: absolute;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    line-height: 8px;
    background-color: #ffffff1c;
    padding: 32px 6px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.nav-btn i {
    font-size: 30px;
    color: #ffc5af
}

.prev-btn {
    left: 24px;
}

.next-btn {
    right: 24px;
}

.throbber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.throbber img {
    width: 148px;
    height: 148px;
}

.overlay img.dimmed {
    filter: brightness(50%); 
}

#gallery.gallery-loading {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    min-height: 200px;
    overflow: hidden;
}

#gallery {
    opacity: 1;
    min-height: 0; 
}