@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=M+PLUS+Rounded+1c&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/assets/css/squaresans.css');

:root {
    --header-font: "PF Square Sans Pro", sans-serif;
    --default-font: "Fredoka", serif;

    --codeblock-font: "Ubuntu Mono", monospace;
    --codeblock-font-size: 16px;

    --jp-font: "M PLUS Rounded 1c", sans-serif;

    --text-color: white;
    --accent-color: #f86;
    --header-color: #202025;
    --body-color: #16161a;
    --background-color: #0F0F12;

    --background-tile: url(/assets/images/tiles/cattile.png);
    --background-tile-opacity: 0.02;
    --background-tile-size: 250px;
    --background-animation-time: 20s;


    --shadow: rgba(0, 0, 0, 0.5) 0px 0px 28px;

    --border-color: rgba(255, 255, 255, 0.25);

    --general-roundness: 8px;
    --image-roundness: 16px;

    --entire-width: 820px;

    --rainbow-colors: linear-gradient(90deg,
            #fe7e6f 0%,
            #fec46f 7.14%,
            #fffa6f 14.29%,
            #ddff6f 21.43%,
            #91ff6f 28.57%,
            #6eff73 35.71%,
            #6fffef 42.86%,
            #6fffef 50%,
            #6ea9fe 57.14%,
            #6ea9fe 64.29%,
            #6ea9fe 71.43%,
            #dc6eff 78.57%,
            #ff6efa 85.71%,
            #fe6fc3 92.86%,
            #fe7e6f 100%)
        /* last color must be the same one as the first! */
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    min-height: 16px;
    position: fixed;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
}

body {
    font-family: var(--default-font);
    display: block;
    background-color: var(--background-color);
    transition-duration: 0.25s;
    margin: 0;
    height: 100%;
}

a {
    color: var(--accent-color);
}

.ca-disabled-a {
    color: var(--accent-color);
    opacity: 0.25;
}

p {
    margin-top: 4px;
    margin-bottom: 8px;
}

li {
    margin-top: 6px;
    padding-bottom: 6px;
    margin-left: 24px;
}

hr {
    opacity: 0.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    margin-top: 6px;
    margin-bottom: 12px;
    font-weight: 600;
}

.ca-maincontent>h1 {
    border-bottom: 2px rgba(255, 255, 255, 0.1) solid;
}

#ca-everything {
    display: flex;
    max-width: var(--entire-width);
    justify-content: center;
    margin: 0 auto;
    transition-duration: 0.25s;

}

main {
    width: 100%;
    max-width: var(--entire-width);
    min-width: 420px;
    transition-duration: 0.25s;
}

hr {
    margin: 16px 0;
}

ul,
ol {
    padding: 0 16px;
}

li>ul,
li>ol {
    padding-left: 0;
}

.ca-jp {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: bold;
}

/* shoutout to the "websites need more mario ui" video on youtube by Hyperplexed */

.ca-background-container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ca-background-image {
    background-image: var(--background-tile);
    background-size: var(--background-tile-size);
    opacity: var(--background-tile-opacity);
    position: fixed;
    left: 50%;
    top: 0%;
    translate: -50% 0%;
    z-index: -5;
    height: 100%;
    width: 100%;
    animation: mario var(--background-animation-time) linear infinite;
}

@keyframes mario {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: var(--background-tile-size) var(--background-tile-size);
    }
}

.ca-background-overlay {
    --radgradient-color: var(--background-color);
    background:
        radial-gradient(circle,
            transparent 70%,
            var(--radgradient-color) 100%);
    transition-duration: 1s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -4;
}

/* shoutout ends here */

#headerrandom {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nerd-font {
    font-size: 16px;
}

.ca-logo-text>h2,
.ca-logo-text>p {
    padding: 0;
    margin: 0;
}

.ca-logo-text>h2 {
    font-size: 32px;
}

.ca-header-container {
    margin: 0 auto;
}

.ca-tablinks,
.ca-bottom-tablinks {
    flex-shrink: 0;
}

a.ca-tablinks:nth-child(1) {
    margin-left: 12px;
}

.ca-tablinks {
    text-decoration: none;
    margin-right: 0;
    padding: 3px 8px;
    color: var(--text-color);
    position: relative;
    border: 1px var(--border-color) solid;
    border-bottom: 1px solid var(--header-color);
    border-top-left-radius: var(--general-roundness);
    border-top-right-radius: var(--general-roundness);
    background-color: var(--header-color);
    bottom: 0px;
    transition-duration: 0.1s;
}

.ca-tablinks:hover {
    bottom: 5px;
    border-bottom: 1px var(--border-color) solid;
    border-bottom-left-radius: var(--general-roundness);
    border-bottom-right-radius: var(--general-roundness);
    transition-duration: 0.1s;
}

.ca-tablinks.active {
    bottom: 6px;
    border-bottom: 1px var(--border-color) solid;
    border-bottom-left-radius: var(--general-roundness);
    border-bottom-right-radius: var(--general-roundness);
    color: var(--accent-color);
    transition-duration: 0.25s;
}

.ca-header-tabs {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    column-gap: 6px;
    padding-top: 16px;
}

.ca-header-tabs>a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

a.ca-bottom-tablinks:nth-child(1) {
    margin-left: 12px;
}

.ca-bottom-tablinks {
    text-decoration: none;
    margin-right: 0;
    padding: 3px 8px;
    color: var(--text-color);
    position: relative;
    border: 1px var(--border-color) solid;
    border-top: 1px solid var(--header-color);
    border-bottom-left-radius: var(--general-roundness);
    border-bottom-right-radius: var(--general-roundness);
    background-color: var(--header-color);
    top: 0px;
    transition-duration: 0.1s;
}

.ca-bottom-tablinks:hover {
    top: 6px;
    border-top: 1px var(--border-color) solid;
    border-top-left-radius: var(--general-roundness);
    border-top-right-radius: var(--general-roundness);
    transition-duration: 0.1s;
}

.ca-bottom-header-tabs {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    column-gap: 6px;
    padding-bottom: 16px;
}

.ca-bottom-header-tabs>a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.ca-header {
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: var(--general-roundness);
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    ;

    h2 {
        font-weight: 600;
    }

    p {
        vertical-align: top;
    }
}

.ca-header-logo {
    vertical-align: middle;
    padding: 8px;
    user-select: none;
    transition-duration: 0.25s;

    img {
        height: 96px;
    }
}

.ca-header-logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.ca-logo-text {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.ca-maincontent {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    min-height: calc(100vh - 260px);
    margin-top: 16px;
    padding: 16px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: var(--general-roundness);
    background-color: var(--body-color);
    box-sizing: border-box;
    box-shadow: var(--shadow);
}

.ca-header-text {
    position: relative;
    display: flex;
    align-items: baseline;
    height: 24px;
    top: 2px;

    p {
        line-height: 18px;
        margin: 0;
    }
}

.ca-cookimoji {
    height: 1.7em;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: -6px;
    margin-bottom: -9px;
}

.ca-maincontent>img,
.ca-maincontent>p>img {
    border-radius: var(--image-roundness);
    display: block;
    margin: 16px auto;
    width: calc(100% - 64px);
}

.ca-maincontent>.ca-image-left {
    float: left;
    padding-right: 20px;
}

.ca-footer {
    color: var(--text-color);
    margin-top: 16px;
    margin: 16px auto;
    text-align: center;
}

.ca-separator {
    display: inline-block;
    width: 0;
    height: 25px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-radius: 2px;
    margin: 0 10px;
}

.ca-footer-links {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    a {
        text-decoration: none;
        color: var(--text-color);

        i {
            padding: 0 6px;
            transition-duration: 250ms;
            font-size: 28px;
            padding-bottom: 16px;
        }
    }
}

.ca-footer-links>a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.ca-footer-links>a {
    transition-duration: 250ms;

    .nf-dev-github:hover {
        color: #606FC1;
    }

    .nf-fae-butterfly:hover {
        color: #1788FE;
    }

    .nf-fa-youtube:hover {
        color: #FE0707;
    }

    .nf-fa-house_chimney:hover {
        color: rgb(255, 151, 65);
    }

    .nf-fa-steam:hover {
        color: #217AA7;
    }
}


.ca-logo-text>h2 {
    user-select: none;
}

/* ----------------------- 
   codeblocks!
   ----------------------- */

.code-block {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px var(--border-color) solid;
    margin: 20px 0;
}

.code-header {
    font-family: var(--default-font);
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: var(--header-color);
    color: var(--text-color);
    font-size: 16px;
    border-bottom: 1px solid var(--border-color);
}

.code-language {
    margin-left: 10px;
}

pre {
    font-size: 14px;
    margin: 0;
    padding: 8px 16px;
    overflow-x: auto;
    line-height: 1.5;
}

code {
    font-family: var(--codeblock-font);
    font-size: var(--codeblock-font-size);
}

code:not(pre > code) {
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--accent-color);
    padding: 0.2em 0.4em;
    border-radius: var(--general-roundness);
    border: 1px rgba(255, 255, 255, 0.25) solid;
    font-size: 0.9em;
    font-weight: bold;
    white-space: nowrap;
}

table {
    width: fit-content;
    margin: 0 auto;
}

thead th:first-child {
    border-top-left-radius: var(--general-roundness);
}

thead th:last-child {
    border-top-right-radius: var(--general-roundness);
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--general-roundness);
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--general-roundness);
}


th,
td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
}

/* ----------------------- 
   prepare for pain
   ----------------------- */

.code-header i {
    font-size: 19px;
}

.nf-md-note_text {
    color: #dddddd;
}

.nf-dev-html5 {
    color: #e34c26;
}

.nf-dev-css3 {
    color: #1572b6;
}

.nf-md-sass {
    color: #c69;
}

.nf-dev-javascript {
    color: #f7df1e;
}

.nf-dev-java {
    color: #F79A23;
}

.nf-dev-python {
    color: #FECE3F;
}

.nf-dev-bash {
    color: #ffffff;
}

.nf-seti-rust {
    color: #E7402B;
}

.nf-dev-c {
    color: #F79A23;
}

.nf-custom-cpp {
    color: #0A83CE;
}

.nf-dev-csharp {
    color: #9D5399;
}

.nf-dev-ruby {
    color: #CC342D;
}

.nf-dev-haxe {
    color: #F79A23;
}

.nf-dev-goland {
    color: #00A6D0;
}

.nf-dev-lua {
    color: #666DF4;
}

.nf-dev-typescript {
    color: #007ACC;
}

.nf-dev-react {
    color: #61DAFB;
}

/* ----------------------- 
    text fx stuff 
    ----------------------- */

.ca-wavy-rainbow span,
.ca-wavy span,
.ca-rainbow span {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.ca-rainbow-legacy {
    background: var(--rainbow-colors);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: colormatic 1.5s linear infinite;
    mix-blend-mode: screen;
}

@keyframes colormatic {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}