@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://www.nerdfonts.com/assets/css/webfont.css');

body {
    font-family: "Fredoka", serif;
    display: block;
    background-color: #191A1C;
    margin: 0;
    height: 100%;
}

p {
    margin-top: 8px;
    margin-bottom: 0;
}

li {
    margin-top: 6px;
    padding-bottom: 6px;
    margin-left: 24px;
}

a {
    color: #f86;
}

hr {
    color: rgba(255, 255, 255, 0.15)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 6px;
    margin-bottom: 16px;
    font-weight: 600;
}

#ca-everything {
    display: flex;
    width: 100%;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 820px;
    min-width: 420px;
}

hr {
    margin:32px 0;
}

.ca-jp {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: bold;
}

.ca-background-image {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
    background-position: center;
    background-size: 200px;
    background-image: url(/assets/images/cattile.png);
}

#headerrandom {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nf {
    font-size: 16px;
}

.ca-logo-text>h2,
.ca-logo-text>p {
    padding: 0;
    margin: 0;
}

.ca-logo-text>h2 {
    font-size: 32px;
}

.ca-header-container {
    margin: 0 auto;
}

.ca-header-tabs {
    padding-top: 16px;
}

a.ca-tablinks:nth-child(1) {
    margin-left: 12px;
}

.ca-tablinks {
    text-decoration: none;
    margin-right: 0;
    padding: 3px 8px;
    color: white;
    position: relative;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    border-bottom: 1px solid #1B1C1F;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #1C1D1F;
    bottom: 3px;
    transition-duration: 0.1s;
}

.ca-tablinks:hover {    
    bottom: 6px;
    border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}   

.ca-header {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    background-color: #1C1D1F;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    /* header header (lol) */
    h2 {
        font-weight: 600;
    }

    p {
        vertical-align: top;
    }
}

.ca-header {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.ca-header-logo {
    vertical-align: middle;
    padding: 8px;
    user-select: none;

    img {
        height: 96px;
    }
}

.ca-logo-text {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.ca-maincontent {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    min-height: calc(100vh - 230px);
    margin-top: 16px;
    padding: 16px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    background-color: #1C1D1F;
    box-sizing: border-box;
}

.ca-header-text {
    position: relative;
    display: flex;
    align-items: baseline;
    height: 24px;
    top: 2px;

    p {
        line-height: 18px;
        margin: 0;
    }
}

.ca-cookimoji {
    height: 1.4em;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.ca-maincontent>img {
    border-radius: 16px;
    display: block;
    margin: 0 auto;
    max-width: 75%;
    min-width: 25%;
}

.ca-maincontent > .ca-image-left {
    float: left;
    padding-right: 20px;
}

.ca-footer {
    color: white;
    margin-top: 16px;
    margin: 16px auto;
    text-align: center;
}

.ca-separator {
    display: inline-block;
    width: 0;
    height: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    margin: 0 10px;
}

.ca-footer-links {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    a {
        text-decoration: none;
        color: white;
        i {
            padding: 0 6px;
            transition-duration: 250ms;
            font-size: 28px;
            padding-bottom: 16px;
        }
    }
}

.ca-footer-links >  a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ca-header-tabs > a:hover {
    color: #f86;
    text-decoration: none;
}

.ca-footer-links>a {
    transition-duration: 250ms;
    
    .nf-dev-github:hover {
        color: #606FC1;
    }
    .nf-fae-butterfly:hover {
        color: #1788FE;
    }
    .nf-fa-youtube:hover {
        color: #FE0707;
    }
    .nf-fa-house_chimney:hover {
        color: rgb(255, 151, 65);
    }
    .nf-fa-steam:hover {
        color: #217AA7;
    }
}

.ca-rainbow {
    background: linear-gradient(90deg,
            #FF6F6F 0%,
            #FFB74E 10%,
            #FFF55E 20%,
            #B0FF6C 30%,
            #63FF79 40%,
            #71E5FF 50%,
            #8A9FFF 60%,
            #A589F6 70%,
            #F47CFF 80%,
            #FF6CC7 90%,
            #FF6F6F 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: colormatic 1.5s linear infinite;
}

@keyframes colormatic {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.ca-logo-text>h2 {
    user-select: none;
}

/* --- wavy letters! --- */ 


.ca-text-wavy span {
    display: inline-block;
    animation: wave 0.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(-2px);
    }
}
