<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="/assets/images/cate.png">

    <title>{{ page.title }}</title>
</head>

<body>

    <div id="ca-everything">
        <main>
            {% include header.html %}

            <div class="ca-maincontent">
                {{ content }}
            </div>

        </main>
    </div>

    <div class="ca-background-image">
    </div>

    <script src="/assets/js/wavytext.js"></script>
    <script src="/assets/js/scale.js"></script>
</body>

</html>